* {
  font-family: "Bungee Spice", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* header {
  margin: 50px 140px;
  width: 100%;
  height: 600px;
  text-align: center;
  color: white;
  align-items: center;
} */
main section {
  margin-bottom: 120px;
}
.container-header {
  position: relative;
  text-align: center;
  margin: 50px 140px 40px;
}
.image-container {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0) 100%);
}
.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
.header-1 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.header-2 {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}

/* style in main */

.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  padding-bottom: 48px;
  font-size: 88px;
  font-weight: 700;
}
.holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.img-new-year {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 120px;
}
.welcome {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
}
.welcome-head {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome-para {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
a {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.text-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  color: #fff;
  z-index: 1;
}
.img-description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(250%, 25%);
  color: #fff;
  z-index: 1;
}

/* .welcome-to-midnight {
  background-image: url(../assets/Vectorrr.png);
  width: 1320px;
  height: 600px;
} */

/* occasion info style */
.occasion-info {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  padding: 100px 0px 210px;
  margin: auto 140px;
  border-radius: 10px;
}
.topic {
  color: #f00;
  text-align: center;
  font-family: Inter;
  display: inline;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.info {
  color: #070211;
  font-family: Inter;
  display: inline;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.join-now {
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 8px;
  margin-top: 64px;
  background: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* coming soon portion */
.coming-soon-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0 140px;
  gap: 120px;
}
.new-best-offer {
  vertical-align: middle;
}
.new-offer {
  color: #f00;
  text-align: left;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

/* coming soon section */
.coming-soon {
  color: #070211;
  font-family: Merriweather;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 900;
}
.coming-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.round-img {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 50px;
}
.year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.hpy-img {
  margin-top: 43px;
}

/* what is functional */
.holiday-sale {
  margin: 0 266px;
  margin-top: 120px;
  text-align: center;
}
.what-is {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holidays {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* wow graphics */
.wow-graphics{
  margin: 64px 140px 0 140px;
}
.images1{
  position: relative;
  margin-right: 0;
  float: right;
}
.images2{
  position: relative;
}
.images3{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: #141212;
  transform: translate(-100%, 510%);
  color: #fff;
  z-index: 1;
}
.discnt{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: #141212;
  transform: translate(80%, 1230%);
  color: #fff;
  z-index: 1;
}
/* Awesome portfolio section styles */
.awesome-portfolio-section{
  margin: 120px 140px 0px;
}
.awesome-portfolio{

}
.coming-des{
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 55%;
}
.product-show{
  margin: 48px 0 120px 140px;
}
.img-show{
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}

/* subscribe newsletter */
.subscribe {
  margin: 0 140px;
  margin-bottom: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 300px;
}
.subs {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.input-btn {
  margin-top: 48px;
}
.email-input {
  border: none;
  width: 40%;
  padding: 25px 30px;
  font-size: 18px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  margin-right: 0;
}
.subs-btn {
  border-radius: 0px 50px 50px 0px;
  border: none;
  margin-left: 0;
  padding: 21px 56px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

/* footer section */
footer {
  background: #070211;
  margin: 0;
  padding: 120px 140px 100px;
}
.footer-info {
  display: flex;
  gap: 50%;
}
.foot-div-info {
  color: #fff;
  padding: 50px 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.foot-info {
  display: inline;
  margin: 15px;
  gap: 40%;
  /* padding: 0 0 15px 5px;
  margin: 0 0 15px 5px; */
}
.foot-icons {
  text-align: center;
  padding: 50px 0px;
}
.emg {
  margin: 0 12px 0;
}
.footer-last {
  display: flex;
  margin-top: 50px;
  /* margin: 50px 0 120px; */
  gap: 50%;
}
.footer-copy-right {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
